<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Thêm sản phẩm</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <label for="">Tên sản phẩm</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Giá sản phẩm</label>
                    <input type="number" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Ảnh đại diện</label>
                    <input type="file" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Nhà sản xuất</label>
                    <select name="" id="" class='form-control'>
                        <option>Apple</option>
                        <option>Samsung</option>
                        <option>Nokia</option>
                        <option>Huawei</option>
                        <option>HP</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Danh mục sản phẩm</label>
                    <select name="" id="" class='form-control'>
                        <option>Điện thoại di động</option>
                        <option>Phụ kiện</option>
                        <option>Laptop</option>
                        <option>Máy tính bảng</option>
                        <option>Đồ điện gia dụng</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control">

                </textarea>
                </div>

                <button class="btn btn-primary">Thêm sản phẩm</button>
            </form>
        </div>
    </div>


</main>